.h1{
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}

.h2{
    -fx-text-fill: #b9b9b9;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.h3{
    -fx-text-fill: #a1a1a1;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}