* {
    -fx-primary-color: #ef0a60;
    -fx-secondary-color: #b20844;
    -fx-light-grey-color: #d1d1d1;
    -fx-focus-color: #494a56;
}

.text-field, .date-picker{
    -fx-background-color: #494a56;
    -fx-text-fill: #d1d1d1;
}

.text-field{
    -fx-border-radius: 1px;
    -fx-border-color: transparent;
}

.text-field:focused, date-picker:focused{
    -fx-background-color: #494a56;
    -fx-border-color: #ef0a60;
    -fx-border-radius: 4px;
}

.label{
    -fx-text-fill: white;
    -fx-padding: 4px;
}