.table-view{
    -fx-background-color: rgba(0,0,0,0.125);
}
.table-view .table-cell{
    -fx-border-color: transparent;
}
.table-row-cell:hover {
    -fx-background-color: rgba(0,0,0,0.25);
    -fx-cursor: hand;
}
.table-row-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-cell{
    -fx-text-fill: white;
}

.table-view .table-row-cell .label{
    -fx-text-fill: white;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: -fx-button-primary-background;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected{
    -fx-background-color: -fx-button-primary-background-hover;
}

.table-view .scroll-bar{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .scroll-bar:vertical .decrement-button, .increment-button{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .decrement-arrow, .increment-arrow{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb{
    -fx-background-color: -fx-button-primary-background;
}

.table-view .scroll-bar:horizontal .decrement-button, .increment-button{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .decrement-arrow, .increment-arrow{
    -fx-background-color: transparent;
}

.table-view .scroll-bar:horizontal .thumb{
    -fx-background-color: -fx-button-primary-background;
}

.table-view .scroll-bar:vertical .thumb:hover{
    -fx-background-color: -fx-button-primary-background-hover;
    -fx-cursor: hand;
}

